--- 
title: Log in to Wiley's UI Living Style Guide 
index: true 
---

<div class="ow-login">

    <div class="ow-login__cont">
        <h4>One Wiley UI Styleguide</h4>

        <form id="login-form" name="login" autocomplete="on" onsubmit="event.preventDefault(); pasuser(this);">

            <fieldset>
                <legend>Login</legend>

                <label for="username">
                    <div>Username: </div>
                    <input type="text" id="username" name="username" required />
                </label>

                <label for="password">
                    <div>Password: </div>
                    <input type="password" id="password" name="password" required />
                </label>

            </fieldset>

            <input type="submit" value="Submit" class="ow-button">

        </form>

    </div>

</div>

<script language="javascript">
    <!--//
    /*THIS IS NOT A SECURE WAY OF SUBMITTING INFORMATION: This Script redirects a user when they enter the correct values into the input fields*/
    function pasuser(form) {

        if (form.username.value == "owui") {
            if (form.password.value == "wiley1") {
                setTimeout(function () {
                    window.location = "/home.html";
                }, 1500);
            } else {
                alert("Invalid Password")
            }
        } else {
            alert("Invalid UserID")
        }
    }
    //-->
</script>