---
title: Log in to Wiley's UI Living Style Guide
index: true
---

<div class="ow-login">

    <div class="ow-login__cont">

        <form name="login">
            UserID:
            <input name="id" type="text">
            <br> Password:
            <input name="pass" type="password">
            <br>
            <input type="button" value="Login" onClick="pasuser(this.form)">
        </form>

    </div>

</div>

<script language="javascript">
    <!--//
    /*This Script allows people to enter by using a form that asks for a
    UserID and Password*/
    function pasuser(form) {
        if (form.id.value == "stu") {
            if (form.pass.value == "stu") {
                location = "home.html"
            } else {
                alert("Invalid Password")
            }
        } else {
            alert("Invalid UserID")
        }
    }
    //-->
</script>