---
fabricator: true
title: Structures
---

<div class="f--section f--section--light">
    <div class="f--section__max-width">
        <h1 class="f--page-title f--page-title--teal" data-f-toggle="labels">Structures</h1>
    </div>
</div>

{{#each materials.structures.items}}

<div class="f--section">
    <div class="f--section__max-width">
        {{> f-item this}}
    </div>
</div>

{{/each}}

<div class="f--section footer">
    <div class="f--section__max-width">
        <a href="footers.html" class="footer__text">Footers<span class="oi" data-glyph="chevron-right"></span></a>
    </div>
</div>