<div class="f-controls">
	<div class="f-control f-global-control" data-f-toggle-control="labels" title="Toggle Headings">
		<span class="oi" data-glyph="header"></span>
        <br>
        <span class="f-control__iclabel">Headings</span>
	</div>
	<div class="f-control f-global-control" data-f-toggle-control="notes" title="Toggle Notes">
		<span class="oi" data-glyph="comment-square"></span>
        <br>
        <span class="f-control__iclabel">Notes</span>
	</div>
	<div class="f-control f-global-control" data-f-toggle-control="code" title="Toggle Code">
		<span class="oi" data-glyph="code"></span>
        <br>
        <span class="f-control__iclabel">Code</span>
	</div>
</div>
