body {
    color: map-get($ow-colors, grey-700);
    font-family: $wiley-sans;
}

h1 {
    font-weight: 600;
}
h2 {
    font-weight: 300;
}
h3 {
    font-weight: 600;
}
h4 {    
    font-weight: 400;
}