html {
	height: 100%;
    font-size: 16px;

	&.f-menu-active {
		overflow: hidden;

		@media (min-width: 60em) {
			overflow: auto;
		}
	}
}

body {
	margin: 0;
	position: relative;

	.f-menu-active & {
		width:100%;
		height: 100%;
		overflow: hidden;
		@media (min-width: 60em) {
			overflow: auto;
		}
	}
}

.f-container {
	@include clearfix;
	@include border-box;
	position: relative;
	padding: 0;
	z-index: 0;
	min-height: 100vh;
	.f-menu-active & {
		@media (min-width: 60em) {
			margin-left: $menu-width;
			transform: translate(0, 0);
		}
	}
    .f--section {
        padding: 1em 1em 1em 3em;
        &.f--section--light {
            background-color: map-get($colors, grey-200);
        }
        &.f--section--dark {
            color: white;
            background-color: map-get($colors, teal-dark);
        }
        .f--section__max-width {
            margin: auto;
            max-width: 48em;
            @media (min-width: 70em) {
                max-width: 64em;
            }
            &.f--section--hr::after {
                content: "";
                padding-top: 1rem;
                display: block;
                position: relative;
                width: 100%;
                border-bottom-color: map-get($colors, grey-300);
                border-bottom-style: solid;
                border-bottom-width: 1px;
            }
        }
    }

}
.f-iconsearch {
    input {
        padding: 0.5em;
        font-size: 1em;
        font-family: inherit;
    }
}
.f-iconlist {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    li {
        flex-grow: 1;
        padding: 0;
        margin: 1rem;
        text-align: center;
        flex-basis: 4rem;
        @media (min-width: 30em) {
            flex-basis: 8rem;
        }
        .ic-cont {
            cursor: pointer;
            font-size: 1.5rem;
            color: map-get($colors, grey-700);
            box-sizing: border-box;
            border: 1px solid transparent;
            //border-radius: 64px;
            margin-bottom: 0.5rem;
            display: inline-block;
            line-height: 0;
            //box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.5);
            div {
                width: 1.5rem;
                height: 1.5rem;
                display: block;
                margin: 1rem;
                @media (min-width: 30em) {
                    margin: 1.5rem;
                }
            }
        }
        .ic-text {
            font-size: 0.8rem;
            @media (min-width: 30em) {                
                font-size: 1rem;
            }
        }
        .ic-text-links {
            font-size: 0.8rem;
            a {
                text-decoration: none;
                color: inherit;
                &:hover {
                    text-decoration: underline;
                    color: map-get($colors, accent);
                }
            }
        }
        &:hover, &:active {
            .ic-cont {
                border: 1px solid map-get($colors, accent);
            }
            .ic-text {
                color: map-get($colors, accent);
            }
        }
    }
}