// fonts
$wiley-sans: 'Open Sans', sans-serif;
$wiley-mono: 'Roboto Mono', monospace;
$wiley-serif: 'Droid Serif', serif;
$wiley-slab: 'Roboto Slab', serif;

// colors
$greys: (
    grey-50: #FAFAFA,
    grey-100: #F5F5F5,
    grey-200: #EEEEEE,
    grey-300: #E0E0E0,
    grey-400: #BDBDBD,
    grey-500: #9E9E9E,
    grey-600: #757575,
    grey-700: #616161,
    grey-800: #424242,
    grey-900: #212121
);

$others: (
    teal-light: #B1D8CF,
    teal: #00A3B2,
    teal-dark: #075B81,
    purple-light: #BCADE2,
    purple: #855199,
    purple-dark: #522464,
    blue-light: #A0C7E5,
    blue: #648FD8,
    blue-dark: #032977,
    green-light: #C6DE8C,
    green: #92CB9C,
    green-dark: #1D5C56,
    red-light: #D22938,
    red: #B40043,
    red-dark: #800049,
    orange-light: #F2BA49,
    orange: #E87700,
    orange-dark: #E55800
);

$base-colors: (
	dark: hsl(0, 0%, 12%),
	medium: hsl(0, 0%, 46%),
	light: hsl(0, 0%, 80%),
	accent: #00A3B2
);

$theme-dark: (
	menu-background: map-get($base-colors, dark),
	menu-text: map-get($base-colors, light),
	normal: map-get($base-colors, medium)
);

$theme-light: (
	menu-background: map-get($greys, grey-100),
	menu-text: map-get($base-colors, medium),
	normal: map-get($base-colors, medium)
);

$w-colors: map-merge($others, $greys);

$theme: map-merge($theme-light, $w-colors);

$colors: map-merge($base-colors, $theme);

$menu-width: 14rem;


// mixins
@mixin clearfix {
	&:after {
		clear: both;
	}

	&:before,
	&:after {
		display: table;
		content: ' ';
	}
}

@mixin border-box {
	box-sizing: border-box;
}